.container {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}

.container-item {
  display: flex;
}

.container-item-label {
  padding: 1rem;
}

.lang {
  padding: 0.25rem;
}
