.btn-light {
  background-color: var(--main-cta-light-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  width: 100%;
}

.btn-light:hover {
  background-color: var(--main-cta-light-hover-color);
}
