* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* box-sizing: border-box;
  --main-neutral-color: #616161;
  --main-red-color: #ff6b6b;
  --main-blue-color: #1a535c;
  --main-yellow-color: #ffd100;
  --main-cyan-color: #4ecdc4;
  --main-disabled-color: rgb(171, 171, 171); */
}

html {
  /* height: 100%; */
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  /* By setting min-height: 100vh, the html element follows the body */
  /* https://www.freecodecamp.org/news/html-page-width-height/ */
  min-height: 100vh;
}
