@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-cta-light-color: rgb(183, 142, 37);
  --main-cta-light-hover-color: rgb(147, 110, 18);
  --main-neutral-color: rgb(24, 96, 0);
  --main-disabled-color: rgb(117, 179, 117);

  /* Radius */
  --main-border-radius: 0.25rem;
}

html {
  /* height: 100%; */
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  /* By setting min-height: 100vh, the html element follows the body */
  /* https://www.freecodecamp.org/news/html-page-width-height/ */
  min-height: 100vh;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 1.25rem;
}

@media (min-width: 520px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 950px) {
  h1 {
    font-size: 1.75rem;
  }
}
